<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- UserDao -->
    <bean id="userDaoBean" class="com.liang.dao.UserDao"></bean>

    <bean id="vipDaoBean" class="com.liang.dao.VipDao"></bean>

    <!-- UserService -->
    <bean id="userServiceBean" class="com.liang.service.UserService">
        <!-- set注入 -->
        <property name="userDao" ref="userDaoBean"></property>
        <property name="vipDao" ref="vipDaoBean"></property>
    </bean>

</beans>